**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.editorconfig
.php-version
.env.*.local
.env.local
.env.local.php
.php_cs.cache
.php-cs-fixer.dist.php
bin/*
!bin/console
public/bundles/
var/
vendor/

.github/
.idea/
.vscode/
public/build/
node_modules/
tests/
phpunit.xml.dist
.phpunit.result.cache
prod.hcl
