.idea/
*.md
.dockerignore
.git/
.github/
.gitignore
docker-compose.*.yaml
docker-compose.yaml
Dockerfile
.editorconfig
.env.*.local
.env.local
.env.local.php
.php_cs.cache
bin/*
!bin/console
public/bundles/
public/build/admin/
var/
vendor/
node_modules/
tests/
phpunit.xml.dist
.phpunit.result.cache
.php_cs.dist
