###> Symfony ###
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/
.web-server-pid
src/Entity/*~
src/*/Entity/*~
src/*/Entity/*/*~
###< Symfony ###

###> Public ###
/public/build/*
!/public/build/.gitkeep
/public/uploads/*
!/public/uploads/.gitkeep
!/public/uploads/default
###< Public ###

###> Other ###
node_modules
.idea
/nbproject/
/.vscode/
/build/
.DS_Store
docker/.env

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
