{
    # Debug
    {$DEBUG}
    # HTTP/3 support
    servers {
        protocol {
            experimental_http3
        }
    }
}

{$SERVER_NAME}

log

route {
    root * /srv/app/public
    push
    php_fastcgi {$PHP_FPM_ADDRESS}
    encode zstd gzip
    file_server
}
