.table.steps-table {
  thead {
    > tr > th {
      &:first-child {
        width: 47px;
        text-align: right;
      }
      &:nth-child(2) {
        text-align: right;
      }
      &:last-child {
        width: initial;
      }
    }
  }
  > tbody {
    > tr {
      > td {
        &:nth-child(2) {
          text-align: right;
        }
      }
    }
  }
}
