/*
 * Testing Info Widget
*/
.widget_model_info, .widget_task_info, .widget_bug_info {
  .card-body{
    overflow: hidden;
  }
  .count {
    font-size: $font-size-base + 1.4;
    line-height: $font-size-base + 1.4;
    white-space: nowrap;
    overflow: hidden;
  }
}
