{% extends '@EasyAdmin/page/content.html.twig' %}
{% form_theme form '@EasyAdmin/symfony-form-themes/bootstrap_5_layout.html.twig' %}

{% block content_title %}The Title of the Page{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}

{% block main %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
