{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Import Model' %}
{% block page_content %}
    <div class="content-form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
